@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";

}

<h1>Om sidan</h1>
<p>Jag som har utvecklat sidan heter Sanna Olssob och läser andra året vid webbutvecklingsprogrammet på Mittuniversitetet. </p>
<p>saol1901@student.miun.se</p>