@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">Moment 1.1 - DT191G, Webbutveckling med .NET</h1>
    <p>Syftet med uppgiften är att få en uppfattning om olika begrepp och tekniker inom asp.net core. Vidare ska man kunna skapa en enklare webbplats med asp.net, förstå och kunna använda razor-syntax och kunna skapa webb-applikationer med Blazor.</p>
</div>
