body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

#logo{
  height: 100px; 
  width: auto;
}


header .date {
  font-size: 14px;
}

.content {
  display: flex;
  flex-grow: 1;
}

aside {
  width: 200px;
  background-color: #eaeaea;
  padding: 20px;
  border-right: 1px solid #ddd;
}

aside nav ul {
  list-style: none;
  padding: 0;
}

aside nav ul li {
  margin-bottom: 10px;
}

aside nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  display: block;
  border-radius: 5px;
}

aside nav ul li a.active {
  background-color: #007bff;
  color: white;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}
